<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h1>Register</h1>
		<% if(typeof error !== 'undefined' && error.length > 1) {%>
			<h1>Your registration has not been successful</h1>
			<p><%= error %></p>
		<% } %>

    <form action="/register" method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username" placeholder="username"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="password"/>
        </div>
        <div>
            <input type="submit" value="Register"/>
        </div>
    </form>
  </body>
</html>
