<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="location" method="post" action="/admin/locations/update/<%= location.id %>">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name" value="<%= location.name %>">
							</fieldset>
									<input type="submit" value="Save">

					</form>
			</div>
	</div>

<% include ../partials/footer %>