<% include ../partials/head %>
<% include ../partials/header %>

	<a href="/admin/locations/new">new</a>

	<table>
		<% locations.forEach(function(location){ %>
			<tr>
				<td>name</td>
				<td><%= location.name %></td>
				<td>
					<a href="locations/edit/<%= location._id %>">edit</a>
				</td>
		<% }); %>
	</table>

<% include ../partials/footer %>