<div>
	<a href="/admin/bands">Bands</a>
	<a href="/admin/locations">Locations</a>
	<a href="/admin/musicians">Musicians</a>
	<a href="/admin/festivals">Festivals</a>
	<a href="/admin/performances">Performances</a>
	<a href="/login">Login</a>
	<a href="/logout">Logout</a>
</div>
