<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="musician" method="post" action="/admin/musicians/new">
							<fieldset>
								<label>Name</label>
								<input type="text" name="name">

								<select name="band_id">
									<% bands.forEach(function(band) { %>
										<option value=<%= band._id %>><%= band.name %>
									<% }) %>
								</select>
							</fieldset>
							<input type="submit" value="Save">
					</form>
			</div>
	</div>

<% include ../partials/footer %>