<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/bands">Bands</a>
    <a href="/locations">Locations</a>
    <a href="/musicians">Musicians</a>
    <a href="/festivals">Festivals</a>
    <a href="/performances">Performances</a>

  </body>
</html>
