<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2>New Musician</h2>

    <div class="content">
        <div>
            <form name="musician" method="post" action="/musicians/new">
                <fieldset>
                  <label>Name</label>
                  <input type="text" name="name">

                  <select name="band_id">
                    <% bands.forEach(function(band) { %>
                      <option value=<%= band._id %>><%= band.name %>
                    <% }) %>
                  </select>
                </fieldset>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>

  </body>
</html>
