<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="festival" method="post" action="/admin/festivals/update/<%= festival.id %>">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name" value="<%= festival.name %>">
									<input type="text" name="year" value="<%= festival.year %>">
							</fieldset>
									<input type="submit" value="Save">
					</form>
			</div>
	</div>

<% include ../partials/footer %>