body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.band-description {
  padding-top: 20px;
}

input {
  display: block;
}

textarea {
  display: block;
}

th {
  text-align: left;
}
