<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="band" method="post" action="/admin/bands/new">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name">
									<input type="text" name="imageUrl">
							</fieldset>
									<input type="submit" value="Save">
					</form>
			</div>
	</div>

<% include ../partials/footer %>